---
// サイトに必要な部品やデータを読み込んでいます
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";

// 表示するブログ記事のリストを自動で取得しています
const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside class="space-y-16" data-pagefind-ignore>

      <section class="animate">
        <article class="space-y-4">
          <h1 class="font-semibold text-black dark:text-white">
            ようこそ！
          </h1>
          <p>
            「ほのにっき」にアクセスいただき、ありがとうございます。
          </p>
          <p>
            このサイトでは、日々の研究活動や、趣味で撮った写真などを載せていく予定です。
            最新の記事は<Link href="/blog">ブログページ</Link>からご覧ください。
          </p>
        </article>
      </section>
      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            最新の投稿
          </h2>
          <Link href="/blog">すべての投稿を見る</Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>
      </aside>
  </Container>
</Layout>